
AR_Museum/.vs/AR_Museum/v15/.suo
AR_Museum/.vs/AR_Museum/v15/Server/sqlite3/db.lock
AR_Museum/.vs/AR_Museum/v15/Server/sqlite3/storage.ide
AR_Museum/.vs/AR_Museum/v15/Server/sqlite3/storage.ide-shm
AR_Museum/.vs/AR_Museum/v15/Server/sqlite3/storage.ide-wal
AR_Museum/AR_Museum.csproj
AR_Museum/AR_Museum.Editor.csproj
AR_Museum/AR_Museum.Plugins.csproj
AR_Museum/AR_Museum.sln
AR_Museum/Assembly-CSharp-Editor.csproj
AR_Museum/Assembly-CSharp.csproj
AR_Museum/Assets/Assets.meta
*.meta
AR_Museum/*.csproj/
AR_Museum/Library/
AR_Museum/Logs/
AR_Museum/Temp/
AR_Museum/.vs/
AR_Museum/obj/
*.csproj
